*{
    margin: 0;
    padding: 0;
}
html{
    overflow: hidden;
}

body{
    width: 100vw;
    height: 200vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: blanchedalmond;
}

.contenedor-1, .espacio{
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}

.contenedor-1::before{
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../recursos/conejofondos.jpg");
    background-size: cover;
    transform: translateZ(-.5px) scale(2.2);

}

.conejo{
    width: 25%;
    right: 70%;
    top: 25%;
    position: absolute;
}

.contenedor-1::after{
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../recursos/fondoconejo.jpg");
    background-size: cover;
    transform: translateX(50%) scale(0.5);
}

.contenedor-1, .conejo{
    transform: translateZ(-.5px) scale(1.5,1.6) translate(-10%,10%);
}

.espacio{
    height: 200vh;
    background-color: aqua;
}