* {
    margin: 0;
    padding: 0;
}

.contenido {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    background-color: rgb(186, 255, 255);
}

#ima {
    width: 100px;
    height: 100px;
    position: relative;
    transition: transform 0.5s ease;
}

.obst {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.obs {
    width: 80px;
    height: 300px;
    background-color: seagreen;
 
}