*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
}
nav{
    
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    margin: auto;
}
ul{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vh;
}
li{
    
   
    font-size: 4vh;
    color: rgb(255, 255, 255);
}

/**/
header{
    height: 80vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    
    position: absolute;
    width: 100%;
    bottom: 0;
}
#conejo{
    right: 20%;
    width: 20%;
    bottom: 0;
    transition: right .3s ease-in-out;
}
#jconejo{
     right: 80%;
    width: 20%;
    bottom: 0;
     transition: right .2s ease-in-out;
}
#pconejo{
     right: 10%;
    width: 20%;
    bottom: 0;
     transition: right .1s ease-in-out; 
}
.titulo{
    
     position: absolute;     
    color: rgb(255, 255, 255);
    font-size: 10vh;
    top: 25%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
    margin: 2vh;
    box-shadow: 5px 0px 0px 0px rgb(255, 255, 255);
    transition: right .5s ease-in-out;
}
main{
    height: 200vh;
}