 body {
   margin: 0;
   font-family: sans-serif;
 }
 .grid-principal {
   display: grid;
   grid-template-rows: 1fr 1fr;
   gap: 10px;
   height: 100vh;
   padding: 10px;
 }

 .fila-arriba {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
 }
 
 .fila-abajo {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
 }
 .caja {
   background: lightgray;
   border: 2px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
 }