body{
margin:0;
font-family:Arial;
background:url('../recursos/fondo.avif');
color:white;
}

.menu{
display:flex;
justify-content:space-between;
align-items:center;
background:#111827;
padding:15px 30px;
}

#cerrar{
background-color:#e02b91;
color:white;
border:none;
padding:8px 15px;
cursor:pointer;
}

#contenedorPersonajes{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:30px;
}

.tarjeta{
background:#0e131e;
color:black;
width:280px;
border-radius:10px;
padding:10px;
border: 2px solid #6c9aff;
text-align:center;
color: aliceblue;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta img{
width:50%;
border-radius:10px;
}

.tarjeta:hover {
    transform: scale(1.08);
    background: linear-gradient(to bottom, #0e131e, #e02b91);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

