*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}
.contenedor-grid{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "seis seis tres uno"
    ". dos tres ."
    "cuatro dos cinco cinco"
    ;
}

.contenedor-grid div{
    border: 2px solid rgb(163, 232, 255);
    font-size: 50px;
}

.elemento-1{
    grid-area: uno;
    background-color: rgb(136, 195, 255);
}
.elemento-2{
    grid-area: dos;
    background-color: rgb(149, 255, 250);
}

.elemento-3{
    grid-area: tres;
    background-color: rgb(29, 69, 198);
}
.elemento-4{
    grid-area: cuatro;
    background-color: rgb(61, 61, 143);
}
.elemento-5{
    grid-area: cinco;
    background-color: rgb(24, 43, 171);
}
.elemento-6{
    grid-area: seis;
    background-color: rgb(0, 83, 128);
}

@media (max-witdh: 400px) {
    
.contenedor-grid{
    grid-template-areas: 
    "seis" 
    "tres" 
    "uno"
    "cuatro"
    "dos" 
    "cinco"
    ;
}
}